.section-clients {
  width: 480px;
  overflow: hidden;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    margin: auto;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  &__item--margin-none {
    margin-left: 0;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--icons-color);
    border-radius: 4px;
    color: var(--icons-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    border-style: solid;
    border-width: 1px;
    border-color: var(--logo-special-color);
    border-radius: 4px;
    color: var(--logo-special-color);
  }
  &__icon {
    fill: currentColor;
  }
}

@media screen and(max-width:1199px){
  .section-clients__item{
    margin-top: 30px;
  }
}
@media screen and (min-width:768px) and (max-width:1199px){
  .section-clients{
    width: 768px;
    overflow: hidden;
  }
}