.section-hero {
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  outline:transparent;
  color: #fff;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bcg-img/mobile-hero@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__btn {
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--logo-special-color);
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
  }
}

@media screen and(min-width:768px) and (max-width:1199px){
  .section-hero{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url('../images/hero-bcg-img/tablet-hero@1x.jpg');
  }
}

@media screen and(min-width:1200px){
  .section-hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    padding-top: 200px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url('../images/hero-bcg.jpg');
    &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    margin-top: 0;
    margin-bottom: 30px;
  }
  }
}