.section-product{
  display: none;
}

.product__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.product__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 94px;
}

.product__item {
  position: relative;
  margin-left: 30px;
  &--margin-none {
    margin-left: 0;
  }
}

.product__description {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.product__no-gap {
  display: block;
}
