.page-header {
  position: relative;
  // width: 480px;
  height: 60px;
  padding: 16px 0px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}

.page-header__item {
  display: none;
  margin-left: 50px;
  &--margin-none {
    margin-left: 0px;
  }
  &--margin-studio {
    margin-left: 88px;
  }
}

.page-header__contact {
  display: none;
  margin-top: 5px;
  &--margin-none {
    margin-left: 0px;
    margin-bottom: 5px;
  }
  &--margin-studio {
    margin-left: 88px;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    min-width: 768px;
    height: 80px;
    padding: 0;
    &__item {
      display: flex;
    }
    &__container,
    &__nav {
      display: flex;
      align-items: center;
    }
    &__nav--contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 75px;
    }
    &__contact {
      display: flex;
    }
  }
}
.page-header__contact-color {
  color: var(--special-grey-color);
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--logo-special-color);
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    min-width: 1200px;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__item--margin-studio {
      margin-left: 93px;
    }
    &__nav--contact {
      flex-direction: row;
      align-items: center;
    }
    &__contact {
      margin-top: 0;
      margin-bottom: 0;
    }
    &__contact--margin-none {
      margin-right: 30px;
    }
    &__contact-color {
      font-size: 14px;
    }
  }
}

.page-header__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--logo-special-color);
  }
}

.page-header__text--current {
  color: var(--logo-special-color);
}

.page-header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-header__item--nav-pointer {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--logo-special-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container,
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 777;
  overflow: scroll;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
  background-color: #fff;
  &__text {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: #000;
  }
  &__text:hover,
  &__text:focus {
    color: var(--logo-special-color);
  }
  &__text--current {
    color: var(--logo-special-color);
  }
  &__item {
    margin-bottom: 32px;
  }
  &__contacts {
    position: absolute;
    top: 514px;
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }
  &__phone-color {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: var(--logo-special-color);
  }
  &__mail-color {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: var(--special-grey-color);
  }
  &__social-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.157;
    letter-spacing: 0.02em;
    color: var(--logo-special-color);
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  &:hover {
    fill: var(--logo-special-color);
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container--social-pointer {
  position: relative;
  margin-right: 20px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
